<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ user.name }}!</h1>

    <!-- Account Management -->
    <h2>Account Management</h2>
    <!-- <a href="">Change Password</a> -->

    <!-- <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <label for="profile_picture">Profile Picture:</label>
        <input type="file" name="profile_picture" accept="image/*">
        <button type="submit">Upload Profile Picture</button>
    </form> -->

    <label for="emergency_contact_name">Emergency Contact Name:</label>
    <input type="text" name="emergency_contact_name" value="{{ user.emergency_contact_name }}">
    
    <label for="emergency_contact_number">Emergency Contact Number:</label>
    <input type="text" name="emergency_contact_number" value="{{ user.emergency_contact_number }}">

    <!-- Cars -->
    <h2>Your Cars</h2>
    <ul>
        {% for car in cars %}
            <li>{{ car.make }} - {{ car.model }} ({{ car.license_plate }})</li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_car' %}">Add Car</a>
    <br/>
    <!-- Posting Location and Destination -->

    <h2>Your Search History..</h2>
    <ul>
        {% for search_request in search_requests %}
            <li>{{ search_request.start_location }} - {{ search_request.destination }} ({{ search_request.user_travel_time }})</li>
        {% endfor %}
    </ul>

    <a href="{% url 'need_driver' %}">Need a Driver??</h2>
    <!-- Add form or UI for posting location and destination -->

</body>
</html>
